{% extends '::base.html.twig' %}
{% trans_default_domain 'chat' %}

{% block javascripts %}
    <script>
        var sendPath = '{{ url('chat_add') }}';
        var refreshPath = '{{ url('chat_refresh') }}';
        var changeChannelPath = '{{ url('change_channel_chat') }}';
        var languagePath = {
            'pl': '{{ url("homepage", {"_locale" : "pl"}) }}',
            'en': '{{ url("homepage", {"_locale" : "en"}) }}'
        };
        var self = {
            'username': '{{ user.username }}',
            'role': '{{ user.getChatRoleAsText }}',
        };
        var emoticons = [
            ':)',
            ':(',
            [
                ':D',
                ';D',
                ':d',
                ';d'
            ],
            [
                ':P',
                ':p',
                ';p',
                ';P'
            ],
            ';)',
            ':o)',
        ];
        {# emoticons from Ajax Chat http://frug.github.io/AJAX-Chat/ #}
        var emoticonsImg = [
            '{{ asset('img/smile.png') }}',
            '{{ asset('img/sad.png') }}',
            '{{ asset('img/grin.png') }}',
            '{{ asset('img/razz.png') }}',
            '{{ asset('img/wink.png') }}',
            '{{ asset('img/monkey.png') }}',
        ];
        var newMessageSound = '{{ asset('sound/message.mp3') }}';
    </script>
    {#language script#}
    <script type="text/javascript" src="{{ asset('js/' ~ locale ~ '.js') }}"></script>
    {#chat script#}
    <script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.scrollTo.js') }}"></script>
    {% if is_granted('ROLE_MODERATOR') %}
        <script>
            var deletePath = '{{ url('chat_delete') }}';
        </script>
        <script type="text/javascript" src="{{ asset('js/delete.js') }}"></script>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="row chat" id="chat-row-main">

        <div class="col-xs-7 col-md-10" id="messages">
            <div class="panel panel-success" id="panel-messages">
                <div class="panel-heading text-center">
                    {{ 'messages'|trans }}
                </div>
                <div class="panel-body panel-messages">
                    <div id="messages-box">
                        {% for message in messages|sort %}
                            <div class="message {{ (user.username in message.text) ? 'light' }}"
                                 data-id="{{ message.id }}">
                                <span class="date">({{ message.date|date('H:i:s') }})</span>
                                <span class="{{ message.user_role }} text-bold nick">{{ message.username }}</span>:
                                <span class="message-text">
                                    {{ message.text|raw }}
                                </span>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <span class="pull-right kursor" data-id="{{ message.id }}">&times;</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="typing"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-md-2" id="online-users">
            {#<select class="custom-select" id="channels">#}
            {#</select>#}
            <div class="panel panel-success no-border" id="panel-users">
                <div class="panel-heading text-center">
                    {{ 'info'|trans }}
                </div>
                <div class="panel-body panel-no-padding">
                    <div class="text-bold info-text">{{ 'lang'|trans }}:</div>
                    <div class="text-in-info language {{ locale == 'pl' ? 'active' }}" data-value="pl">PL</div>
                    <div class="text-in-info language {{ locale == 'en' ? 'active' }}" data-value="en">EN</div>
                    <div class="text-bold info-text">{{ 'channels'|trans }}:</div>
                    {% for key,value in channels %}
                        <div class="text-in-info channel {{ (key == user_channel) ? 'active' }}"
                             data-value="{{ key }}">{{ ('channel.' ~ value)|trans }}</div>
                    {% endfor %}
                    <div class="text-bold info-text">{{ 'online'|trans }}:</div>
                    <div class="{{ user.getChatRoleAsText }} text-in-info" id="username">{{ user.username }}</div>
                    <div id="users-box">
                        {% for user in usersOnline %}
                            <div class="{{ user.user_role }} text-in-info online-user"
                                 data-value="{{ user.username }}">{{ user.username }}</div>
                        {% endfor %}
                    </div>
                    <div class="logout">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('chat_admin') }}" target="_blank">{{ 'panel'|trans }}</a>
                        {% endif %}
                        <a href="{{ path("chat_logout") }}" class="btn btn-info">{{ 'logout'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="emoticon-row">
            <div class="row">
                <div class="emoticons-div" name="emoticons"></div>
            </div>
        </div>
        <div class="col-xs-12 margin-top-minus" id="text-row">
            <div class="row">
                <div class="col-xs-10">
                    <textarea class="form-control" id="message-text" cols="50" rows="1"></textarea>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-success btn-block" id="send">{{ 'send'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
<div class="youtube-video"></div>
{% endblock %}
